"
 Deployment Configuration
"
API_ORIGIN=
PORT=
IS_PRODUCTION=
" Comma Separated origins if you intend to add multiple origins"
ALLOWED_ORIGINS= https://example.com, http://another.com


"
 Database Configuration
"
DB_CONNECTION=

"
  Email Configuration
"
MAIL_SENDER_EMAIL=
MAIL_SENDER_PASSWORD=


"
  Auth Configuration
"
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

"
  Payment Processing
"
CHAPA_API_ORIGIN=
CHAPA_PUBLIC_KEY=
CHAPA_SECRET_KEY=
